:root { 
  --default-color: rgb(0, 0, 0);
  --active-link-color: rgb(136, 88, 88);
  --default-background-color: rgb(255, 255, 255);
  --gray-background-color: rgb(224, 224, 224);
  --light-gray-background-color: rgb(245, 245, 245);
} 

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}

.fixed-header {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  background-color: var(--default-background-color);
  align-items: center;
  position: sticky;
  top: 0;
}

.fixed-footer {
  justify-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--gray-background-color);
  padding-top: 10px;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.fixed-header > hr {
  border-left: 1px solid var(--default-color);
  height: 15px;
}

.fixed-header > div {
  padding: 10px;
}

.brand {
  font-family: 'Pacifico', cursive;
  font-size: 27px;
  margin: 0;
}

.social {
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  color: var(--default-color);
}

a:focus {
  color: var(--active-link-color);
}

.icon-border {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  overflow: visible;
  border: solid;
  border-width: 3px;
  color: var(--default-color);
}

.menu-toggle {
  z-index: 100;
  user-select: none;
}

.burger-menu-checkbox {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;  
  opacity: 0;
  z-index: 100;
}

.burger {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: var(--default-color);
  border-radius: 3px;
  z-index: 100;
  transform-origin: 4px 0px;
}

.burger-menu-checkbox:checked ~ .burger {
  opacity: 1;
  transform: rotate(45deg) translate(0, 0);
  background: var(--default-color);
}

.burger-menu-checkbox:checked ~ .burger:nth-last-child(3) {
  opacity: 0;
}

.burger-menu-checkbox:checked ~ .burger:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 0);
}

.menu,
.submenu {
  background: var(--default-background-color);
  list-style-type: none;
  position: fixed; 
  padding: 0;
  left: 0;
}

.menu {
  width: 100%;
}

.submenu {
  width: 84%;
  border: var(--gray-background-color) solid;
  border-width: 1px 1px 1px 1px;
  background: var(--light-gray-background-color);
}

.menu hr {
  border: var(--gray-background-color) 1px solid;
}

.menu li {
  padding: 10px;
  font-size: 15px;
}

.search > form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  z-index: 100;
}

.search {
  padding-left: 10px;
  padding-top: 10px;
}

.search input {
  opacity: 1;
  width: 50%;
  border: none;
  z-index: 100;
}

.search button {
  background: none;
  border: none;
  align-self: center;
}

.search input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.burger-menu-checkbox:not(:checked) ~ ul {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-out;
}

.burger-menu-checkbox:checked ~ ul {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in;
}

.right-arrow {
  border: var(--default-color) solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  position: absolute;
  padding: 5px;
  width: 3px;
  height: 3px;
  margin: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-border {
  border: var(--gray-background-color) solid;
  border-width: 1px 1px 1px 1px;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-left: 4px;
  position: absolute;
}

.submenu-arrow-checkbox {
  opacity: 0;
  width: 40px;
  height: 30px;
  display: block;
  user-select: none;
  z-index: 200;
  position: absolute;
}

.submenu-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.submenu-arrow-checkbox:checked ~ .right-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 17px;
}

.submenu-arrow-checkbox:checked ~ .submenu {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in;
}

.submenu-arrow-checkbox:not(:checked) ~ .submenu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-out;
}

.slide {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 400px;
  z-index: 200;
}

.slide-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.slideshow {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.slide-text {
  position: absolute;
  bottom: 25%;
  left: 5%;
  z-index: 300;
  width: 100%;
}

.slide-text p {
  margin: 5px;
  padding-left: 20px;
}

.slide-text p:nth-child(1) {
  color: var(--default-background-color);
  font-size: 35px;
}

.slide-text p:nth-child(2) {
  color: var(--active-link-color);
  font-size: 25px;
}

.slide-buttons {
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 300;
}

.slide-buttons button {
  color: var(--default-background-color);
  border: var(--default-background-color) 2px solid;
  text-decoration: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  outline: none;
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.zero-position-slide {
  left: -100%;
}

.first-position-slide {
  left: 0%;
}

.second-position-slide {
  left: 100%;
}

.third-position-slide {
  left: 200%;
}

.no-transition {
  transition: none;
}

.transition-img {
  transition: 0.8s;
}

.transition-text {
  transition: 1s;
}